<html>
   List of API calls


<ul>
   <li> <a href="/api">/api</a> List the API calls </li>
   <li> <a href="/api/projects"> /api/projects/</a> List all projects </li>
   <li> <a href="/api/project_sites/1">/api/project_sites/<project_id></a> List sites for a project </li>

   <li> <a href="/api/site_data/by_week/1 "> Site 1 data grouped by week </a></li>
   <li> <a href="/api/site_data/by_week_and_form/1 "> Site 1 data grouped by week and form </a></li>

   <li> <a href="/api/site_data/by_month/1 "> Site 1 data grouped by month </a></li>
   <li> <a href="/api/site_data/by_month_and_form/1"> Site 1 data grouped by month and form </a></li>

   <li> <a href="/api/site_data/by_year/1 "> Site 1 data grouped by year </a></li>
   <li> <a href="/api/site_data/by_year_and_form/1"> Site 1 data grouped by year and form </a></li>
   <li> <a href="/api/summary_data/1"> Get summary data for site 1</a></li>
   <li> <a href="/api/site_data/last_two_periods/1"> Get site data for the last two weeks for site 1</a></li>
</ul>
</html>
